body {
    background-color: #006b6b;
}
.content {
    background-color: #00bebe;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}
.navbar {
    background-color: black;
    color: white;
}